
@import url('https://fonts.googleapis.com/css?family=Sacramento');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

body{
  width: 100%;
  height:100% auto;
  background-color: #f9f9f9;
  margin:0px auto;
}

.header_nav{
  width: 100%;
  height: 70px;
  background-color: #fff;
/*  box-shadow: 2px 2px 4px #000;*/
  position: fixed;
  top:0px;
  display: flex;
  flex-direction: row;
  padding: 5px;
  z-index: 2;
}

.main_container{
  margin:0px auto;
  background: -webkit-linear-gradient(left,#7200AF, #5000CB);

}

.center_container{
  margin:0px auto;
  height: auto;
  background-color: inherit;
  display:flex;
  flex-direction: column;
  background-attachment: fixed;
}

.first_slide{
  width: 1200px;
  height: 700px;
  background: inherit;
  margin:0px auto;
  display: flex;
  flex-direction: row;
  position: relative;
  top:100px;
  background-attachment: fixed;
}

.footer{
  width: 100%;
  height: 100px;
  background: -webkit-linear-gradient(left,#7200AF, #5000CB);
  text-align: center;
}

.logo_box{
  width: 50px;
  height: 45px;
  border-radius: 10px;
  position: relative;
  top:10px;
  left:100px;
  animation: resize_anim 2s infinite;
  transform: scale(0.9,0.9);

}

.image_box{
  border-radius: 10px;
  width: 100%;
  height: 100%;
  background-image: url('../icons/se.png');
  background-size: 100%;
  background-repeat: no-repeat;
  box-shadow: 2px 2px 4px #aaa;
  position: relative;
  top:2px;

}

.logo_text_box{
  width: auto;
  height: auto;
  padding: 20px;
  position: relative;
  top:-50px;
  left:100px;

}

.serge_logo_text{
    font-family: 'Sacramento', cursive;
    font-weight: 300;
    font-size: 40px;
    color:#000;
    cursor: default;
}

@keyframes resize_anim {

  0%{

      transform: scale(0.9,0.9);

  }

  50%{
      transform: scale(1,1);

  }

  100%{
      transform: scale(0.9,0.9);

  }

}


.main_col_left{
  width: 44%;
  height: 100%;
  background-color: inherit;
}

.main_col_right{
  width: 55%;
  height: 100%;
  background-color: inherit;
}


.info_stack{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.white_space{
  width: 100%;
  height: 100px;
  background-color: inherit;

}

.title_main{
  width: 100%;
  height: auto;
  background-color: inherit;
}

.title_text{
  width: 500px;
  height: auto;
  font-weight: bolder;
  position: relative;
  left:30px;
  font-family: 'Quicksand', sans-serif;
  font-size: 50px;
  color:#fff;
  background: inherit;
  text-shadow: 1px 1px 2px #555;
}

.description{
  width: 100%;
  height: auto;
  padding-top: 30px;
  padding-bottom:30px;
  background-color: inherit;
  font-weight: 500;
  color:#fff;
  position: relative;
  top:-20px;
  left:30px;
  flex-wrap: wrap;

}

.description p{
  padding: 0px;
  margin: 0px auto;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 16px;
  color:#fff;
  line-height: 25px;
}

.messenger_btn{
  width: 100%;
  height: auto;
  background-color: inherit;
  margin: 0px auto;
}

.sign_up_btn{
  width: 200px;
  height: 150px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  text-decoration: none;
  border-radius: 30px;
  font-family: 'Quicksand', sans-serif;
  font-weight: bolder;
  color:#333;
  position: relative;
  left:170px;
  transition: 0.3s;
}

.sign_up_btn:hover{
  border:none;
  transition: 0.2s;
  box-shadow: 1px 1px 2px #333;

}

.graph_img{
  width: 500px;
  height: 400px;
  position: relative;
  top:50px;
  left:100px;
  background-image: url("../icons/graph1.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 40% 80%;
}

.notif_box{
  width: 200px;
  height: 120px;
  background-image: url("../icons/notif.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #F0F0F0;
  border-radius: 8px;
  box-shadow: 2px 2px 4px #888;
  /*animation: resize_anim 2s infinite;*/
  transform: scale(0.9,0.9);
  position: relative;
  left:200px;

}








.second_slide{
  width: 100%;
  height: auto;
  background-color: #fff;
  background-attachment: fixed;
}

.white_gap{
  width: 1000px;
  height: 100px;

}

.second_slide_cont{
  width: 1000px;
  height: inherit;
  background-color: inherit;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
}

.case_info{
  width: 100%;
  height:auto;
  background-color: inherit;
  display: flex;
  flex-direction: row;
}

.case1_img_box{
  width: 50%;
  height: 100%;
  background-color: inherit;
  padding: 20px;
}

.case1_info_box{
  width: 50%;
  height: 100%;
  background-color: inherit;
  padding: 20px;

}

.img1_cont{
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 100%;
  margin: 0px auto;
  background-image: url("../icons/cash.png");
  background-size: 100%;
  background-position: center;
  position: relative;
  top:20%;

}

.info_title{
  width: auto;
  height: auto;
  padding: 20px;
  font-family: 'Quicksand', sans-serif;
  font-size: 25px;
  font-weight: bolder;
}

.info_desp{
  width: 400px;
  height: auto;
  padding: 10px;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  position: relative;
  left:10px;

}




.third_slide{
  width: 100%;
  height: 800px;
  background-color: #19003D;
  margin: 0px auto;
  background-attachment: fixed;

}

.phone_case{
  width: 500px;
  height: 700px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("http://www.streamlineicons.com/ux/img/phone.png");
  position: relative;
  left:10px;
}

.center_case3{
  width: 1000px;
  height: auto;
  margin:0px auto;
  position: relative;
  top:50px;
  display: flex;
  flex-direction: row;
}

.more_info_box{
  width: auto;
  height: 400px;
  background-color: #190D59;
  display: flex;
  flex-direction: column;
  border-radius: 0px;
  box-shadow: 2px 2px 10px #000;
  position: relative;
  top:150px;
  left: 100px;
}

.f_title{
  width: 400px;
  height: auto;
  padding: 5px;
  background-color: #150B52;
}

.features_title{
  font-size: 30px;
  color:#2F4DF9;
  font-weight: bold;
  position: relative;
  font-family: 'Quicksand', sans-serif;
  position: relative;
  left:20px;
  border-radius: 10px;

}

.f_list{
  padding: 5px;
  width: 400px;
  height: 200px;
  background-color: inherit;
}

.feature_l{
  width: 90%;
  height: 40px;
  line-height: 55px;
  padding: 5px;
  color:#2F4DF9;
  font-family: 'Quicksand', sans-serif;
  list-style-type: none;
}

.logo_section{
  width: 200px;
  height: 100%;
  margin: 0px auto;
  background-color: inherit;
  display: flex;
  flex-direction: row;
}

.fb_icon{
  width: 35px;
  height: 35px;
  background-color: inherit;
  position: relative;
  top:30px;
  left:20px;
  background-image: url("../icons/fb.png");
  background-size: 100%;
  margin-right: 5px;
  transform: scale(0.7,0.7);
}

.twitter_icon{
  width: 35px;
  height: 35px;
  background-color: inherit;
  position: relative;
  top:30px;
  left:20px;
  background-image: url("../icons/twit.png");
  background-size: 100%;
  margin-right: 5px;
  transform: scale(0.7,0.7);
}

.product_hunt_icon{
  width: 35px;
  height: 35px;
  background-color: inherit;
  position: relative;
  top:30px;
  left:20px;
  background-image: url("../icons/phunt.png");
  background-size: 100%;
  margin-right: 5px;
  transform: scale(0.7,0.7);

}


.track_coins_slide{
  width: 100%;
  height: 700px;
  background-color:#fff;
  background-attachment: fixed;
}


.track_cent_con{
  width: 1000px;
  height: inherit;
  margin: 0px auto;
  background-color: inherit;
  display: flex;
  flex-direction: column;
}

.coin_display{
  width: 700px;
  height: 500px;
  background-color: inherit;
  display: flex;
  margin: 0px auto;
  flex-direction: row;
  flex-wrap: wrap;

}

.coin{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: #000;
  box-shadow: 1px 1px 2px #333;
  margin:15px;
  margin-top: 50px;
}

.btc{
  background-image: url("../icons/coins/btc.png");
  background-position: center;
  margin-left:15px;
}

.eth{
  background-image: url("../icons/coins/eth.png");
  background-position: center;
  margin-left:15px;

}

.dash{
  background-image: url("../icons/coins/dash.png");
  background-position: center;
  margin-left:15px;
}

.ltc{
  background-image: url("../icons/coins/ltc.png");
  background-position: center;
  margin-left:15px;

}

.xmr{
  background-image: url("../icons/coins/xmr.png");
  background-position: center;
}

.xrp{
  background-image: url("../icons/coins/xrp.png");
  background-position: center;

}

.zec{
  background-image: url("../icons/coins/zec.png");
  background-position: center;
}

.burst{
  background-image: url("../icons/coins/burst.png");
  background-position: center;
}

.doge{
  background-image: url("../icons/coins/doge.png");
  background-position: center;
}


.layer_coin1{
  width: 100%;
  height: 150px;
  background-color: inherit;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  position: relative;
  top:0px;
}

.layer_coin2{

  width: 100%;
  height: 150px;
  background-color: inherit;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  position: relative;
  top:0px;

}

.center_l1{
  width: auto;
  height: auto;
  padding: 30px;
  margin: 0px auto;
  background-color: inherit;
  display: flex;
  flex-direction: row;
}

.title_layer{
  width: 100%;
  height: 100px;
  background-color: inherit;
}

.title_layer p{
  width: 100%;
  color: #000;
  font-family: 'Quicksand', sans-serif;
  font-size: 64px;

}
